*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: row;
    align-items: center;
    height:60px;
}
#logo img{
    height: 45px;
    width: 45px;
    padding: 2px 10px 0px 5px;
}
.navbar ul{
    display: flex;
}
#navelements a{
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    border-radius: 15px;
}
#navelements a:hover{
    border: 2px solid brown;
}
.titlepart{
    height: 500px;
    overflow: hidden;
    padding: 0px 100px 0px 950px;
    background-image: url(top-view-tasty-salad-with-ingredients-grey-meal-health-food-diet.jpg);
    
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: black;
}
#explorebutton{
    background-color: black;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid brown;
    color: white;
    padding: 7px 15px 7px 15px;
}
#explorebutton:hover{
    background-color: brown;
    color: black;
    border: 2px solid black;
    border-width: 2px;
}
.Trending{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0px 0px 60px 0px;
}
#trendingtiles{
    display: flex;
    flex-direction: row;
    height: 375px;
    width: 100%;
    justify-content: space-evenly;
}    
.ttiles{
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2.5px solid brown;
    width:280px;
    overflow: hidden;
    object-fit: contain;
    margin: 20px;
}
.ttiles img{
    
    height: 100%;
    width: 100%;
    
}
#image1{
    height: 60% ;
}
.headings{
    text-align: center;
    color: azure; 
    font-size: 40px;
    margin:10px;
}
#description{
    padding: 10px;
    text-align: center;
}